<html>
<head>
<title>Duce: Tic Tac Toe</title>
</head>
<body>

<h1>Tic Tac Toe</h1>

<hr>

{% if messages %}
  {{messages}}
  <hr>
{% endif %}

{% if game_ended %}

  The game is over.

  The winner was
  {% ifequal state.result.winner.key seat.key %}
    <b>You!</b>
  {% else %}
    {{state.result.winner.nickname}}.
  {% endifequal %}

  <table border=1>
   <tr>
   <td id="p0">{{grid.0}}</td>
   <td id="p1">{{grid.1}}</td>
   <td id="p2">{{grid.2}}</td>
   </tr><tr>
   <td id="p3">{{grid.3}}</td>
   <td id="p4">{{grid.4}}</td>
   <td id="p5">{{grid.5}}</td>
   </tr><tr>
   <td id="p6">{{grid.6}}</td>
   <td id="p7">{{grid.7}}</td>
   <td id="p8">{{grid.8}}</td>
   </tr>
  </table>

{% else %}

  The current player is: 
  {% ifequal state.active_seat.key seat.key %}
    <b>You!</b>
  {% else %}
    {{state.active_seat.nickname}}.
  {% endifequal %}

  <hr>

  <table border=1>
   <tr>
   <td id="p0">{{grid.0}}</td>
   <td id="p1">{{grid.1}}</td>
   <td id="p2">{{grid.2}}</td>
   </tr><tr>
   <td id="p3">{{grid.3}}</td>
   <td id="p4">{{grid.4}}</td>
   <td id="p5">{{grid.5}}</td>
   </tr><tr>
   <td id="p6">{{grid.6}}</td>
   <td id="p7">{{grid.7}}</td>
   <td id="p8">{{grid.8}}</td>
   </tr>
  </table>

  {% if is_active %}
    Play somewhere.
    <div id="controls"></div>
    <hr>
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript">

      function addButton(n) {
        num = n;
        form = document.createElement("form");
        form.id = "choose" + num;
        form.method = "post";

        d1 = document.createElement("input");
        d1.type = "hidden";
        d1.name = "game_id";
        d1.value = "{{seat.game.key.id}}";
        form.appendChild(d1);

        d1 = document.createElement("input");
        d1.type = "hidden";
        d1.name = "action";
        d1.value = "choose";
        form.appendChild(d1);

        d1 = document.createElement("input");
        d1.type = "hidden";
        d1.name = "chose";
        d1.value = "" + num;
        form.appendChild(d1);

        d1 = document.createElement("input");
        d1.type = "submit";
        d1.value = "Here";
        form.appendChild(d1);

        new Insertion.Bottom("p" + n, form)
      };

      i = 9;
      i.times(addButton);
    </script>
  {% else %}
    It is not your turn.  Please wait until it is your turn.  <!-- TODO:  Send an e-mail reminder -->
  {% endif %}

{% endif %}

<hr>
 
<input type=submit value="Refresh" onclick="Refresh();">

<script type="text/javascript">
  function Refresh() {
    window.location.replace(document.URL);  // so we don't resubmit POST data
  }
</script>

<a href=".">Back</a>



</body>
</html>
