<HTML>
<HEAD>
<TITLE>Recent Solves</TITLE>
</HEAD>
<BODY>

<div id="display"></div>

<script type="text/javascript" src="/js/json2.js"></script>
<script type="text/javascript" src="/js/general-lib.js"></script>
<script type="text/javascript">
</script>

  {% for line in solves %}
    <BR>
    <!-- {{line.uid}} -->
    {{line.modified_timestamp|date:"H:i:s"}} : {{line.nickname}} solved puzzle {{line.puznum}}
    {% if line.extra_message %}
      {{line.extra_message}}
    {% endif %}
  {% endfor %}

</BODY>
</HTML>
